/* Estilos personalizados  para la card de login*/
.login-card {
    max-width: 450px;
    width: 100%;
    padding: 40px 30px;
    margin: auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

body, html {
    height: 100%;
    margin: 0;
}

.full-height {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.login-card input {
    height: 45px;
    font-size: 1.1rem;
}

.login-card button {
    height: 45px;
    font-size: 1.1rem;
}

.login-card h2 {
    font-size: 2rem;
}

/* Estilos personalizados  para la card de registros*/
.register-card {
            max-width: 500px;
            width: 100%;
            padding: 40px 30px;
            margin: auto;
            background-color: white;
            border-radius: 10px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        }

        body, html {
            height: 100%;
            margin: 0;
        }

        .full-height {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #f4f4f4;
        }

        .register-card input {
            height: 45px;
            font-size: 1.1rem;
        }

        .register-card button {
            height: 45px;
            font-size: 1.1rem;
        }

        .register-card h2 {
            font-size: 2rem;
        }
  